html {
    background-color: black;
}

.candidate_header {
    font-size: 56px;
    font-weight: 900;
    padding-bottom: 20px;
    /* text-shadow: 2px 3px 0px white; */
    text-transform: uppercase;
}

.main > .tagore {
    background: -webkit-linear-gradient(#fdc714, rgb(202, 120, 13) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
}

.main > .teresa {
    background: -webkit-linear-gradient(#1034ff, rgb(8, 11, 185) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
}

.main > .gandhi {
    background: -webkit-linear-gradient(#ff1010, rgb(185, 8, 8) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
}
.main > .nehru {
    background: -webkit-linear-gradient(#0bb327, rgb(31, 97, 4) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
}

.main_bg {
    background-size: cover;
}

#app > .gandhi {
    background-image: url('./bg_gandhi.png');
}
#app > .teresa {
    background-image: url('./bg_teresa.png');
}
#app > .tagore {
    background-image: url('./bg_tagore.png');
}
#app > .nehru {
    background-image: url('./bg_nehru.png');
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 50px;
    gap: 10px;
    /* background: linear-gradient(0deg, #fffc5f 0%, #fffc3a 100%); */
}
.candidate_container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.candidate {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: #c9c9c93d;
    
    transition: .3s ease;
    
    font-weight: 700;
    box-shadow: 2px 2px 10px #00000033;
}

.candidate:hover {
    background-color: #e0e0e052;
}